:root {
  scroll-behavior: smooth;
}

body {
  color: #333333;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
  background-color: #fffdf8;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  color: #fd5f00;
  font-size: 18px;
  padding-top: 20px;
}

header h1 {
  font-size: 53px;
  /* padding-bottom: 14px; */
  font-family: "Kanit";
}
@media (max-width: 767px) {
  header {
    padding-top: -20px;
  }
}

nav {
  background-color: #fd5f00;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
@media (max-width: 767px) {
  nav {
    position: unset;
  }
}

nav ul {
  color: #fff;
  font-weight: 700;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

nav li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 767px) {
  nav li {
    display: block;
    padding-bottom: 10px;
  }
}

nav li + li {
  border-left: 1px solid #fff;
}

nav li a:hover {
  opacity: 0.7;
}

/* .mainvisual {
  background-image: url(../img/korea-g07e7e837b_1920\ 2.png);
  background-size: cover;
  padding-top: 52.29%;
  text-align: right;
  padding-right: 204px;
  position: relative;
} */
/*
.mainvisual p {
  position: absolute;
  left: 50%;
  top: 90px;
  transform: translateX(-50%);
  padding-right: 204px;
} */

.voice p {
  font-weight: 400;
  font-size: 21.61px;
  padding: 10px 78px;
}

div.info p.button {
  background-color: #fd5f00;
  border-radius: 25px;
  font-size: 25px;
  color: #fff;
  width: 340px;
  text-align: center;
  margin: 34px auto;
  padding-bottom: 7px;
  padding-top: 7px;
}

h2 {
  color: #005792;
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  padding-top: 53px;
  padding-bottom: 3px;
  margin-bottom: 34px;
  border-bottom: 3px solid #005792;
}

main section.menu1 {
  color: #fff;
  background-color: #fd5f00;
  max-width: 442px;
  height: 262px;
  border-radius: 14.7568px;
}

main div.mainmenu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 54px;
}
@media (max-width: 767px) {
  main div.mainmenu {
    display: block;
  }
}

main div.mainmenu section {
  border: 3px solid #005792;
  border-radius: 15px;
  flex-basis: 360px;
  display: flex;
  /* margin-top: 58px; */
}
@media (max-width: 767px) {
  main div.mainmenu section {
    margin-bottom: 10px;
  }
}

main div.mainmenu section p img {
  border-radius: 11px 0px 0px 11px;
  height: 100%;
  object-fit: cover;
}

main div.mainmenu p {
  flex: 1;
}

main div.mainmenu div {
  flex: 1;
}

main div.mainmenu h3 {
  font-weight: 700;
  font-size: 30px;
  padding-top: 11px;
  padding-left: 27px;
  padding-bottom: 5px;
  padding-left: 22px;
}

main div.mainmenu h3 a:hover {
  text-decoration: underline;
}

main div.mainmenu h3.shp {
  font-size: 25px;
}

main div.mainmenu ul li {
  font-size: 14px;
  line-height: 1.5;
  list-style: disc;
  margin-left: 1.5em;
}

main div.tourlist {
  display: flex;
  justify-content: space-between;
  column-gap: 32px;
}

@media (max-width: 767px) {
  main div.tourlist {
    display: block;
  }
}

main div.tour1 {
  background-color: #fff5d1;
  margin-top: 58px;
  padding-top: 84px;
  padding-bottom: 80px;
  padding-left: 15px;
  padding-right: 15px;
}

main div.tourlist section {
  /* border: 2px solid #000; */
  background-color: #fff;
  flex-basis: 253px;
  padding-top: 13.54px;
  padding-bottom: 26px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

@media (max-width: 767px) {
  main div.tourlist section {
    margin-bottom: 10px;
  }
}

main div.tourlist section h3 {
  font-size: 22px;
  font-weight: 700;
  padding-top: 23px;
  line-height: 1.5;
}

main div.tourlist section p.price {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #de0f0f;
  letter-spacing: -0.08em;
  margin-top: 14px;
}

main div.tourlist section p.price a:hover {
  text-decoration: underline;
  color: #de0f0f;
}

main section.air {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 39px;
  padding-right: 39px;
  border: 4px solid #fd5f00;
  border-radius: 15px;
  color: #fd5f00;
  font-weight: bold;
  font-size: 20px;
}

main section.air legend {
  padding-top: 10px;
  margin-bottom: 10px;
}

main input[type="radio"] {
  width: 27px;
  height: 27px;
}

main section.air div.formline {
  display: flex;
  column-gap: 50px;
}
@media (max-width: 767px) {
  main section.air div.formline {
    display: block;
  }
}

main section.air div.dateday {
  display: flex;
  column-gap: 50px;
}
@media (max-width: 767px) {
  main section.air div.dateday {
    display: block;
  }
}

main section.air div.Numberofpeople {
  display: flex;
  column-gap: 50px;
}
@media (max-width: 767px) {
  main section.air div.Numberofpeople {
    display: block;
    column-gap: 50px;
  }
}

main section.air fieldset {
  flex: 1;
}

main section.air div.formbox_place p {
  padding-top: 10px;
  margin-bottom: 5px;
}

main input[name="takeon"],
main input[name="takeoff"],
main input[type="date"],
main input[type="text"] {
  width: 100%;
  line-height: 1.5;
  outline: none;
}

main section.air div.Numberofpeople p {
  margin-top: 10px;
  margin-bottom: 10px;
}

main div.formbox_place p.searchbutton {
  background-color: #fd5f00;
  border-radius: 25px;
  color: #fff;
  font-size: 25px;
  padding-bottom: 7px;
  max-width: 340px;
  text-align: center;
  margin: 30px auto;
}

main section.air div.hotelreserve p.searchbutton {
  background-color: #fd5f00;
  border-radius: 25px;
  font-size: 25px;
  color: #fff;
  max-width: 340px;
  text-align: center;
  margin: 30px auto;
  padding-bottom: 7px;
  padding-top: 7px;
}

footer {
  background-color: #fd5f00;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 6px;
  margin-top: 30px;
}

footer p.pagetop {
  position: fixed;
  right: 17px;
  bottom: 24px;
}

footer p.pagetop a:hover {
  opacity: 0.7;
}

footer div.Company ul {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
@media (max-width: 767px) {
  footer div.Company ul {
    display: block;
    text-align: center;
  }
}

footer p.copyright {
  text-align: center;
  padding-top: 5px;
}
@media (max-width: 767px) {
  footer p.copyright {
    text-align: center;
  }
}

section.cm {
  text-align: center;
}
